#hero {
    background-image: url("../images/hero.jpg");
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.main-nav {
    float: right;
}

.game-bio h3, p{
    text-align: center;
}

.trailer-heading {
    text-align: center;
}

.wtb-heading {
    text-align: center;
}