h3, p, .main-nav a{
    color: white;
}

#hero {
    background-image: url("../images/hero.jpg");
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}



.main-nav {
    float: right;
}

.game-bio h3 {
    text-align: center;
}

.game-bio p {
    text-align: left;
    padding-bottom: 25px;
}

.more-info {
    position: absolute;
    bottom: 0;
    padding-left: 40%;
}

.game-bio, .trailer, .wtb {
    background-color: black;
    padding: 20px;
}

.tlou, .gow , .uncharted {
    background-color: rgba(105, 105, 101, 0.507);
}

.trailer-heading {
    text-align: center;
}

.wtb-heading {
    text-align: center;
}

div #map {
    min-height: 400px;
}

iframe {
    min-height: 450px;
    width: 50%;
}

.trailer-vid {
    text-align: center;
}

#tlou-trailer {
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    background-position:left;
}

#gow-trailer {
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    background-position: right;
}

#uncharted-trailer {
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    background-position:left;
}

