h1, h3, .main-nav a{
    color: rgb(102, 252, 241);
}

p {
    color: rgb(197, 198, 199);
}

#hero {
    background-image: url("../images/hero.jpg");
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.layer {
    height: 800px;
    background-color: rgba(136, 124, 124, 0.527);
}

.layer h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 600%;
}

.layer h2{
    color: rgb(197, 198, 199);
    font-size: 700%;
    text-align: center;
    padding-top: 37%;
}

.layer p {
    color: rgb(197, 198, 199);
    font-size: 500%;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 1200px) {
    .tlou-raiting, .uncharted-raiting {
        display: none;
    }
}

.main-nav {
    float: right;
}

.game-bio h3 {
    text-align: center;
}

.game-bio p {
    text-align: left;
    padding-bottom: 40px;
}

.more-info {
    position: absolute ;
    bottom: 0;
    border-style: solid;
    border-color: rgb(102, 252, 241);
    text-decoration: none;
    color: rgb(197, 198, 199);
    padding: 10px;
}

#more-info {
    text-align: left;  
}

.game-bio, .trailer, .wtb {
    background-color: rgb(11, 12, 16);
}

.game-bio {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.tlou {
    background-color: rgba(11, 12, 16, 0.384);
}
.gow {
    background-color: rgba(11, 12, 16, 0.384);
}
.uncharted {
    background-color: rgba(11, 12, 16, 0.384);
}

.trailer-heading {
    text-align: center;
}

.wtb-heading {
    text-align: center;
}

div #map {
    min-height: 400px;
}

iframe {
    min-height: 600px;
    width: 75%;
}

@media (max-width: 900px) {
    iframe {
        width: 100%;
    }
}

@media (min-width: 900px) {
    .trailer-vid {
        text-align: right;
    }
}    



#tlou-trailer {
    background-image: url(../images/firefly.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position:left;
}

#gow-trailer {
    background-image: url(../images/gow-symbol.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: left;
}

#uncharted-trailer {
    background-image: url(../images/uncharted-symbol.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position:left;
}



